/*TODO clases semanticas*/
body {
	background-color:#223344;
	color:black;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10pt;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0;
	padding:0;
}
div {
	margin:0;
}
a {
	text-decoration:none;
}
img {
	display:inline;
	border:medium none;
}
div.main {
margin-left:auto;
margin-right:auto;
margin-top:10px;
width:95%;
}
div.head {
	background:#012 url(/img/logo-414.png) no-repeat scroll left top;
	font-size:18pt;
	height:106px;
	position:relative;
	margin:0;
	padding:0;
}
div.head h1 {
	color:#689;
	font-family:Verdana;
	font-size:110%;
	position:absolute;
	left:155px;
	bottom:0px;
	margin:0;
	padding:0;
}
div.content {
	clear:both;
	margin:20px 30px;
	padding:5px 5px 10px;
	background-color:#fef;
	-moz-border-radius:20px;
}
* html div.content {
	margin:75px 10px 20px;
}
pre, textarea {
padding:0.3em;
}
div.content iframe {
border:medium none;
height:100%;
margin:0;
padding:0;
width:100%;
}
div.section {
	margin: 0 1em;
}
table.list1 {
	border-collapse:separate;
	border-spacing:0px;
	font-size:10pt;
	margin:0 auto;
	width:85%;
	-moz-border-radius-topleft:2px;
	-moz-border-radius-topright:2px;
}
table.list1 th, 
table.list1 td {
	border-style:solid;
	border-width:1px;
}
table.list1 th {
	background-color:#774;
	border-color:#885 #663 #663 #885;
	color:white;
	font-weight:bold;
	padding:1px 2px;
	vertical-align:middle;
}
table.list1 th a {
	display:block;
	font-weight:bold;
	margin:0;
	min-height:14px;
	padding:1px 14px;
	color:White;
	background-position:left center;
	background-repeat:no-repeat;
	display:block;
}
table.list1 .sortasc {
	background-image:url(/img/up3.png);
}
table.list1 .sortnone {
	background:none;
}
table.list1 .sortdesc {
	background-image:url(/img/down3.png);
}
table.list1 td {
	background-color:#DDA;
	border-color:#FFC #BB8 #BB8 #FFC;
	color:#000517;
	padding:1px 5px;
	vertical-align:middle;
}
table.list1 tr:hover td {
	background-color:#BB8;
	border-color:#DDA #996 #996 #DDA;
}
table.list1 tr.anotherday td, 
table.list1 tr.anotherday:hover td {
	background-color:#996;
	border-color:#BB8 #774 #774 #BB8;
	text-align:center;
	color:Black;
	font-weight:bold;
}
div.infobox {
	position:relative;
	font-size:9pt;
	color:black;
}
div.infobox div.shadow {
	position:absolute;
	visibility:hidden;
	background:url(/img/shadow1.png) repeat;
	right:20px;
	bottom:10px;
}
div.infobox:hover div.shadow {
	visibility:visible;
}
div.infobox div.info{
	background-color:#FFF8B8;
	border:none;
	padding:5px;
	max-height:22em;
	width:30em;
	overflow:auto;
	text-align:left;
	position:relative;
	right:5px;
	bottom:5px;
}
div.infobox table {
background-color:white;
border:0 none;
margin:0;
padding:0;
width:100%;
}
div.infobox table td {
background-color:#FFE2C4;
border:1px solid silver;
font-size:8pt;
margin:0;
padding:1px;
}
div.box_right {
float:right;
margin:0 0 0 5px;
padding:0;
}
dic.section {
	margin: 1em;
}
div.recFolder {
background-color:#FFE2C4;
border:1px solid silver;
font-size:10pt;
margin:5px 2px 10px 1px;
padding:4px;
}
div.recFolder a, div.recFolder a:link, div.recFolder a:visited {
color:black;
font-size:12pt;
font-weight:bold;
text-decoration:none;
}
div.recFolder a:hover {
color:black;
font-size:12pt;
font-weight:bold;
max-width:480px;
text-decoration:underline;
}
div.recFolderDetails {
background-color:white;
border:medium none;
font-size:9pt;
margin:4px 0 0 3px;
padding:2px 0 5px 4px;
text-decoration:none;
}
div.fileView {
background-color:#E0E0E0;
border:1px dashed gray;
font-size:9pt;
margin:2px 0;
padding:5px;
}
div.fileView a, div.fileView a:link, div.fileView a:visited {
color:black;
padding-left:2px;
padding-right:10px;
text-decoration:none;
}
div.fileView a:hover {
color:black;
padding-left:2px;
padding-right:10px;
text-decoration:underline;
}
div.code {
background-color:#FF6000;
border:1px solid silver;
margin-top:5px;
}
div.code table, div.code tr {
border:0 none;
margin:0;
padding:1px;
}
div.code td {
border:0 none;
margin:0;
padding:0 10px 0 0;
}
div.code span {
font-size:7pt;
}
div.code pre {
background-color:#FFE2C4;
margin:0;
}
table.mount {
	background-color:transparent;
	border: none;
	font-size:0.9em;
	text-align:left;
}
table.mount th {
	font-weight:bold;
}
table.mount th, 
table.mount td {
	background-color:transparent;
	padding-right:2em;
	border:none;
}
col.date {
	width:6em;
}
col.hour {
	width:4em;
}
col.content {
	width:auto;
}
h2 {
	background-color:#88CCFF;
	border-color:#66AACC;
	border-style:solid;
	border-width:4px 45px 5px 3px;
	font-size:16px;
	margin:25px 5px 10px;
	padding:2px 0 2px 5px;
}
h2 a {
	color:black;
}
div.content h2 {
	margin:25px -5px 10px;
}
div.content > h2:first-child{
	margin-top:35px;
}
h3 {
border-bottom:1px solid #FF9A35;
border-left:8px solid #FF9A35;
font-family:verdana,sans-serif;
font-size:14px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:25px 0 10px;
padding:2px 0 2px 5px;
}
a.strong { 
	font-weight:bold; 
	color:black;
}
div.foot {
	background-color:#FF6000;
	clear:left;
	padding:4px 0 4px 10px;
	vertical-align:bottom;
}
div.foot p {
	font-size:11px;
	margin:0;
	padding:0;
}
.field .label {
	color:#333333;
	font-weight:bold;
}

