#
# User defined Makefile options for the Video Disk Recorder
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#
# See the main source file 'vdr.c' for copyright information and
# how to reach the author.
#

### The C compiler and options:

CFLAGS		+= -Wall
CXXFLAGS	+= -Wall -fpermissive -Woverloaded-virtual -Wno-parentheses

ifdef PLUGIN
CFLAGS   += -fPIC
CXXFLAGS += -fPIC
endif

ifdef M750S
DEFINES += -DM750S
endif

REMOTE=LIRC
NO_KBD=1
DEFINES+= -D_REENTRANT -D_GNU_SOURCE -DUSE_TUNER_AUTOVALUES
DEFINES+= -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE
# TESTING
# DEFINES += -DUSE_HW_VIDEO_FRAME_EVENTS  # Use Hardware Frame Events
# DEFINES += -DUSE_RECEIVER_RINGBUFFER    # Use Ringerbuffer with Header for Receivers
                                          # this is turn on atomatically if Frame
                                          # Events are used (in this case it is needed).
                                          # If no events are used only PID is saved in
                                          # header, overhead may slow down things
DEFINES += -DUSE_DIRECT_IO
DEFINES += -DDISABLE_RINGBUFFER_IN_RECEIVER
# DEFINES += -DCHECK_DIRECT_IO_BUFFERS    # enable alignment check while using direct io
# DEFINES += -DUSE_WATCHDOG_IN_FILEWRITER # watchdog in filewriter
# DEFINES += -DUSE_PLAYER_WATCHDOG        # watchdog in player

# Disable unused character set fonts.
# We only need iso8859-15 (English, German and Spanish) and iso8859-1 (French).
DEFINES += -DDISABLE_ISO8859_2
DEFINES += -DDISABLE_ISO8859_5
DEFINES += -DDISABLE_ISO8859_7
DEFINES += -DDISABLE_ISO8859_13

# Use TS Player Backport from VDR 1.7.x
# TS_PLAYER_BACKPORT=1

# Set memwatch for detect memory leaks and others problems with memory.
# Log is saved in /var/log/vdr-memwatch.log
# MEMWATCH=1

# Save backtrace log (/var/log/vdr-crash.log) when VDR is crashed.
# Warning: You must use a uClibc with backtrace support and add libubacktrace.so
#           library to RootFS, otherwise do not enable this.
# CRASHLOG=1

# Produce extra debugging information for GDB
# DEBUG=1
