.timer {
	margin:1px 0;
	height:14px;
}
.progressbar {
	display:block!important;
	width:100%;
	height:14px;
	position:relative;
}
a.progressbar,
a.progressbar:hover {
	text-decoration:none!important;
}
.progressbar .pb {
	display:block;
	height:14px;
	position:absolute;
	top:0;
	border:none;
}
.progressbar .pbstart{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.progressbar .pbend{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.progressbar .pbenabled{
	background:#005104 url(images/ui-bg_gloss-wave_75_005104_1x100.png) repeat-x scroll 50% 50%;
}
.timer.conflict {
	background-color: transparent;
}
.conflict .progressbar .pbenabled {
	background-color: #d93a3a;
	background-image: url("images/ui-bg_gloss-wave_75_d93a3a_1x100.png");
}

.progressbar .pbdisabled{
	background-color:#B8BFA0;
}

