ul.path li.dir {
	display: block;
	float: left;
	padding: 0;
	margin: 1px 0.2em;
}
.path .dir a.act,
.path .dir a:hover {
	color: #ffff4f!important;
}
ul#folders {
	margin: 0.25em;
}
.csscolumns ul#folders {
	margin: 0.5em;
	-moz-column-width: 22em;
	-webkit-column-width: 22em;
	column-width: 22em;
	-moz-column-gap: 0.5em;
	-webkit-column-gap: 0.5em;
	column-gap: 0.5em;
}
li.itemDiv {
    border-radius: 0.3em;
}
.boxshadow .theme1 li.itemDiv {
	border: 1px solid #D2C1A0;
	box-shadow: 0 0 3px #D0BF9D;
}
li.level4Div.itemDiv {
	display: inline-block;
	margin: 0.25em;
	width: 22em;
	overflow: hidden;
}
.csscolumns li.level4Div.itemDiv {
	display: block;
	margin: 0 0 0.5em;
	width: auto;
    overflow: visible;
}
.csscolumns li.itemDiv {
    margin: 0 0 0.25em;
}
.csscolumns li.recDiv,
.csscolumns li.mfDiv,
.csscolumns div.rec,
.csscolumns div.mf {
	-webkit-column-break-inside: avoid;
    column-break-inside: avoid;
	break-inside: avoid-column;
}
.csscolumns li.recDiv,
.csscolumns li.mfDiv {
    /* workaround for break-inside absence in firefox */
    display: inline-block !important;
    width: 100% !important;
}
.theme1 li.itemDiv.folderDiv {
	background-color: #FBF1DF;
}
table#recordings {
    width: 60em;
    min-width: 60%;
	max-width: 95%;
}
table#recEdit {
	min-width:70%;
}
table#recEdit input,
table#recEdit textarea {
	width:98%;
	margin:0;
}
