table.channels {
	float:left;
	width:45%;
	min-width:45%;
	margin:0 0 0 3%;
	border-collapse:collapse;
}
tr.channelInfo {
	display:none;
}
td.channelInfo {
	background-color:#FFCF9F;
	padding:2px;
}
td.channelInfo img.logo {
	width:60px;
	height:60px;
	border:1px solid silver;
	background-color:White;
	clear:left;
	float:left;
	margin-top:10px;
}
table.channelInfo {
	background-color:#ffe2c4;
	border-collapse:collapse;
	margin:0 15% 1em;
	width:68%;
	padding:0;
	font-size:0.8em;
}
table.channelInfo caption {	
	font-weight:bold;
}
table.channelInfo th,
table.channelInfo td {
	color:black;
	background-color:transparent;
	border:1px solid silver;
	margin:0;
	padding:1px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
