.gainlayout { 
	min-height:0; 
}
textarea {
	overflow:auto;
}
#main {
	min-height:0;
}
.section {
	min-height:0; 
}
#recFoldersWrapper {
	min-height:0;
}
.recFolderWrapper {
	display:inline;
}
.recFolderHeader,
.recRec {
	min-height:0;
}
form table.list tbody tr:hover td {
	background-color:#D7D7A7;
}
button {
	overflow:visible; 
	width:auto!important;
}
button.button-i-t .ui-icon {
	left:0;
}
.buttons-i {
	width:18px;
	height:auto!important;
}
.sf-menu li:hover {
	visibility:inherit;
}
.sf-menu a.sf-with-ul {
	min-height:0;
}
