@import url('jquery-ui-1.7.2.css');
@import url('superfish.css');

/* General
----------------------------------*/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body {
	color:black;
	background-color:#000;
	font-family:Verdana,Arial,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}
ul,
ul li {
	list-style-image:none;
	list-style-position:inside;
	list-style-type:none;
}
div {
	vertical-align:top;
}
a {
	text-decoration:none;
}
img {
	display:inline;
	border:medium none;
}
div.boxRight {
	float:right;
	margin:0 3px;
	padding:0;
}
fieldset {
	vertical-align:middle;
	display:block;
	margin:0.25em 0;
	padding:0.35em 0.5em !important;
	line-height:2em;
}
fieldset,
fieldset legend {
	background-color:#d7d7a7;
	border:1px solid #c0c090;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
fieldset legend {
	padding:0 0.5em !important;
}
label {
	display:inline-block;
	white-space:nowrap;
	margin:0 0.4em;
}

label * {
	vertical-align:baseline;
}
form label input,
form label select,
form label input[type="radio"],
form label input[type="checkbox"],
form tr td input,
form tr td select,
form tr td input[type="radio"],
form tr td input[type="checkbox"] {
	border:1px solid #c0c090;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.level3-top form label input,
.level3-top form label select,
.level3-top form label input[type="radio"],
.level3-top form label input[type="checkbox"] {
	border:1px solid #faf8e0;
	color:inherit;
	font-weight:inherit;
	background:transparent none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.level3-top form select option {
	background-color:#203256;
}
label input[type="text"]{
	margin-left:2px;
}
label input[type="radio"],
label input[type="checkbox"],
label select {
	margin-left:0px;
}
pre { 
	overflow:auto; 
}
/* Messages */
.message,
.alert {
	width:70%;
	margin:1em auto;
	padding:0.5em;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.message {
	color:#002f4f;
	background-color:#a0d0d0;
}
.alert {
	color:#aa0000;
	background-color:#ffe8bf;
}
.message .response,
.alert .response {
	font-family:courier;
	font-size:0.8em;
}
.message p,
.message ul,
.alert p,
.alert ul {
	margin:0.5em 0;
}
.level3 .titleLink {
	color:#0d53b2;
	font-weight:bold;
}
.level3 .inactive .titleLink {
	color:#2d73d2 !important;
}
.titleLink:hover {
	cursor:pointer;
	text-decoration:underline;
}

/* Page layout 
------------------------------------------------------*/
/* Page */
#page-div{
	background:#001f2f none;
	border:2px solid #072737;
	margin:2ex 3ex;
	padding:1ex;
	-moz-border-radius:1ex;
	-webkit-border-radius:1ex;
}
#page-top {
	margin:0;
	padding:0;
	background-color:#272737;
	border:1px solid #2f2f3f;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#page-top table.layout {
	border-separate:separate;
	width:100%;
}
#page-top table.layout td {
	padding:0;
}
#page-top table.layout col.logo {
	width:160px;
}
#page-top td.logo {
	vertical-align:top;
}
#page-top div#logo {
	background:transparent url(images/logo-001122-nq8.png) no-repeat scroll left top;
	width:160px;
	height:117px;
}
#page-top #page-title {
	color:#d7d7df;
	font-size:1.8em;
	text-align:center;
}
#page-top #menu {
	margin:0 0.25em;
}
#page{
	clear:left;
	color:#000000;
	background:transparent none;
	margin-top:1em;
	position:relative;
}
#page-bottom {
	color:#ffffff;
	background:#ef5f00 url(images/ui-bg_gloss-wave_25_ef5f00_500x100.png) 50% 50% repeat-x; 
	border:1px solid  #ff6f0f;
	width:100%;
	padding:0.5em 0;
	margin-top:1em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#page-bottom p {
	font-size:11px;
	margin:0 2em;
}
#page-bottom a,
#page-bottom a:visited,
#page-bottom a:hover {
	text-decoration:none;
	color:#ffffff;
}
#page-bottom a:hover {
	text-decoration:underline;
}
/* Main */
#main {
	width:100%;
	margin-top:-1em;
	clear:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
/* Level2 */
.level2-div {
	background-color:#ffefaf; 
	font-family:Verdana,Arial,sans-serif; 
	font-size:1em; 
	margin-bottom:1em; 
	padding:2px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
}
.level2-div input,
.level2-div select,
.level2-div textarea,
.level2-div button { 
	font-family:Verdana,Arial,sans-serif; 
	font-size:1em; 
}
.level2 { 
	border:none; 
	background:transparent none; 
	color:#222222;
	padding:2em 1em;
}
.level2 a { 
	color:#222222; 
}
.level2-top { 
	border:1px solid #e78f08; 
	background:#f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; 
	color:#222222; 
	font-weight:bold; 
	padding:0.75em 1em;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.level2-top a { 
	color:#222222; 
}

/* Level3 */
.level3-div { font-size:1em; margin:0 auto; }
.level3-div input, .level3-div select, .level3-div textarea, .level3-div button { font-family:Verdana,Arial,sans-serif; font-size:1em; }
.level3 { border:1px solid #aaaaaa; background:#faf8d6 url(images/ui-bg_diagonals-small_25_faf8d6_40x40.png) 50% 50% repeat; color:#222222; }
.level3 a { color:#222222; }
.level3-top { border:1px solid #306276; background:#203256 url(images/ui-bg_gloss-wave_75_203256_500x100.png) 50% 50% repeat-x; color:#faf8e0; font-weight:bold; }
.level3-top a { color:#faf8e0; text-decoration:none; }

div.level3-div {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.level3-div .level3-top {
	color:white;
	background-color:transparent;
	font-weight:bold;
	padding:0.25em 0.5em;
}
h3.level3-top,
.level3-top th {
	padding:0.75em 1em;
}
.level3 tr {
	border-bottom:1px solid #d2691e;
}
.level3 tr td {
	padding:0.25em;
}
/* Level4 */
.level4-div {
	padding:0.5ex;
	margin:0.5ex;
	font-size:1em;
	/*background-color:#ffefaf;*/
	background-color:PeachPuff;
	vertical-align:top;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.level4-top {
	padding:0.25em;
	margin-bottom:2px;
	text-align:center;
	border:1px solid #e78f08; 
	background:#cccccc url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) repeat-x scroll 50% 50%; 
	color:#222222; 
	font-weight:bold; 
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.level4-bottom {
	padding:0.25em;
	text-align:center;
	color:#222222;
	background:#fea66c url(images/ui-bg_gloss-wave_25_fea66c_500x100.png) 50% 50% repeat-x; 
	border:1px solid  #f8a067;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.level4-bottom .field .label {
	color:#222222;
}
div.clearer {
	clear:both;
}

/* Controls
------------------------------------------------------------*/
table.list tr .controls {
	float:none;
}
h2 .controls {
	float:left;
}
h2 .controls .control {
	margin-right:0.25em;
}
ul.controls li.control {
	list-style-type:none;
	list-style-image:none;
	list-style-position:outside;
}
.controls .control {
	float:left;
}
button {
	cursor:hand;
}
tr.buttons td {
	text-align:left;
}
td .button-i-t {
	margin:0.25em;
}
.button-i,
.button-i-t {
	display:inline-block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
button.button-i,
button.button-i-t {
	cursor:pointer;
	-moz-appearance:none;
	-webkit-appearance:none;
}
button.button-i div,
a.button-i,
li.button-i {
	width:20px;
	height:20px;
	position:relative;
}
.button-i .ui-icon {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-8px;
	margin-left:-8px;
}
button.button-i-t div,
a.button-i-t {
	position:relative;
	padding:0.3em 1.3em 0.3em 20px;
	white-space:nowrap;
}
button.button-i-t div {
	display:inline-block;
	vertical-align:baseline;
}
.button-i-t .ui-icon {
	position:absolute;
	top:50%;
	left:3px;
	margin-top:-8px;
}
button::-moz-focus-inner {
	padding:0;
	border:none;
}
tr .controls .control {
	display:block;
}
tr .controls .control .ui-icon {
	float:right;
}

/* Table related 
------------------------------------------------------------*/
.formContainer {
	width:auto;
	max-width:95%;
	min-width:60%;
}
table.list,
table.level3-div {
	border-collapse:collapse;
	margin:0 auto;
	width:auto;
	max-width:95%!important;
	min-width:60%;
	empty-cells:show;
}
table caption {
	font-weight:bold;
	font-size:1.1em;
	padding:0.35em 1em;
	border:none;
}
form table.list {
	width:auto;
	min-width:60%;
}
form table.list caption {
	background-color:#909070;
	border-bottom:1px solid #b8b888;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}
table.list th {
	color:white;
	background-color:#909070;
	font-weight:bold;
	padding:1px 0.5em;
}
table.list thead th {
	text-align:center;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}
table.list tbody{
	background-color:#d7d7a7;
}
table.list tbody th,
table.list tbody td{
	border-style:solid none;
	border-width:1px 0px;
}
table.list tbody tr:last-child td{
	border-style:none;
	border-width:0;
}
table.list tbody th {
	border-color:#b8b888;
	text-align:right;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
table.list tbody td {
	border-color:#c0c090;
	color:#000517;
	padding:1px 5px;
	vertical-align:top;
}
table.list tr.controls td{
	min-height:8px;
	background-color:#909070;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}
table.list tr.controls td button {
	margin:0.25em;
}
table.list th a,
.level3-top th a {
	display:block;
	font-weight:bold;
	margin:0;
	min-height:14px;
	padding:1px 14px;
	color:white;
	background-position:left center;
	background-repeat:no-repeat;
	display:block;
}
table.list tbody th a {
	display:inline;
	text-decoration:underline;
	padding:0;
}
table.list tbody th a:hover {
	color:#FFFF9F
}
table.list a.sortasc,
.level3-top a.sortasc {
	background-image:url(images/upw.png);
}
table.list a.sortnone,
.level3-top a.sortnone {
	background:none;
}
table.list a.sortdesc,
.level3-top a.sortdesc {
	background-image:url(images/downw.png);
}
table.list th.space,
table.list td.space {
	background-color:transparent;
	border-style:none;
}
table.list td.space {
	background-color:#ffeeff;
	border-style:none;
}
table.list tbody tr:hover {
	background-color:#c7c797;
}
form table.list tbody tr:hover {
	background-color:transparent;
}
table#nowOnTv {
	width:70em;
}
table#nowOnTv col.info {
	width:50%;
}
table#nowOnTv col.space {
}
table#programs col.channel {
	width:auto;
}
table#programs col.timers{
	width:80px;
}
table#programs colgroup.nowNext col.pgName{
	width:25%;
}
table#programs col.pgName{
	width:auto;
}
col.number {
	width:4em;
}
td.number {
	text-align:center;
}
table#cfgFile {
	width:auto;
	min-width:40em;
}
col.date {
	width:6em;
}
col.hour {
	width:5em;
}
col.content {
	width:auto;
}
col.space {
	width:1em;
}

/* Info 
----------------------------------*/
.info {
	color:black;
	text-align:left;
}
.info .title,
.info .fromTo .l{
	font-weight:bold;
	color:#444;
}
.info .fromTo .t{
	color:green;
}
.info div,
.info ul {
	margin:0.4em 0;
}
.info div p,
.info ul li {
	margin:0;
}
div.infobox {
	position:relative;
}
div.infobox .info {
	font-size:0.9em;
	padding:5px;
	border:none;
}
div.infobox div.infoWrapper {
	position:absolute;
	display:none;
	background:url(images/shadow1.png) repeat;
	bottom:10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.infoboxCssHover:hover div.infoWrapper{
	display:block;
}
.infoLeft div.infoWrapper {
	right:10px;
}
.infoRight div.infoWrapper {
	left:20px;
}
div.infobox div.info {
	background-color:white;
	max-height:22em;
	width:30em;
	overflow:auto;
	position:relative;
	right:5px;
	bottom:5px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
span.host {
	font-size:0.9em;
	color:#300;
}

/* Page specific
-------------------------------------*/
/* Recordings */

/* Timers */
table#timers tr.inactive * {
	color:#606060;
}

.ui-dialog{
	max-width:80%;
}
/* Icons
----------------------------------*/
.ui-icon-edit {
	background-position:0px -240px;
}
.ui-icon-floppy{
	background-position:-16px -240px;
}
.ui-icon-print{
	background-position:-32px -240px;
}
.ui-icon-rec{
	background-position:-48px -240px;
}
.ui-icon-timer {
	background-position:-64px -240px;
}
.ui-icon-tv {
	background-position:-80px -240px;
}
.ui-icon-radio {
	background-position:-96px -240px;
}
.ui-icon-folder-rec{
	background-position:-112px -240px;
}
.ui-icon-volume-down {
	background-position:-128px -240px;
}
.ui-icon-volume-up {
	background-position:-144px -240px;
}
.ui-icon-ar169 {
	background-position:-160px -240px;
}
.ui-icon-ar43 {
	background-position:-176px -240px;
}
.ajaxLoading {
	background-image:url(images/ajax-loader.gif)!important;
	background-position:center center!important;
	background-repeat:no-repeat!important;
	background-color:#efe8c4!important;
	min-height:32px;
}


a.channel,
a.strong { 
	font-weight:bold; 
	color:black;
}
.field {
	vertical-align:baseline;
	margin:0 0.5em 0.5em 0;
}
.field .label {
	color:#333333;
	font-weight:bold;
}
input.readOnly,
textarea.readOnly {
	background-color:transparent;
	border:none;
}
.fromTo .hour {
	font-weight:bold;
	margin:0 0.2em;
}
th.hour,
td.hour {
	text-align:center;
}
#messageDialog {
	display:none;
}