@import url('jquery-ui-1.7.css');
@import url('superfish.css');

/* General
----------------------------------*/
* {
	margin:0;
	padding:0;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
body {
	color:black;
	background-color:#012;
	font-family:sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}
div {
	vertical-align:top;
}
a {
	text-decoration:none;
}
img {
	display:inline;
	border:medium none;
}
h2 {
	background-color:#A0B0C0;
	font-size:1.3em;
	margin:0 10px;
	padding:0.75em 1em;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
}
h2,
h2 a,
h2 a:visited {
	color:#304050;
}
div.boxRight {
	float:right;
	margin:0 3px;
	padding:0;
}
fieldset {
	vertical-align:middle;
	display:block;
	margin:0.25em 0.25em 0.25em 0;
	padding:0.35em 0.5em !important;
	line-height:2em;
}
fieldset,
fieldset legend {
	background-color:#D7D7A7;
	border:1px solid #C0C090;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
fieldset legend {
	padding:0 0.5em !important;
}
label {
	display:inline-block;
	white-space:nowrap;
	margin:0 0.4em;
}
/*
fieldset>label{
	float:left;
}
*/
label * {
	vertical-align:middle;
}
form label input,
form label select,
form label input[type="radio"],
form label input[type="checkbox"],
form tr td input,
form tr td select,
form tr td input[type="radio"],
form tr td input[type="checkbox"] {
	border:1px solid #C0C090;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
label input[type="text"]{
	margin-left:2px;
}
label input[type="radio"],
label input[type="checkbox"],
label select {
	margin-left:0px;
}
/* Messages */
.message,
.alert {
	width:70%;
	margin:1em auto;
	padding:0.5em;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.message {
	color:#002F4F;
	background-color:#A0D0D0;
}
.alert {
	color:#AA0000;
	background-color:#FFE8BF;
}
.message .response,
.alert .response {
	font-family:courier;
	font-size:0.8em;
}
.message p,
.message ul,
.alert p,
.alert ul {
	margin:0.5em 0;
}

/* Page layout 
------------------------------------------------------*/
#page-div{
	background-color:transparent;
	margin:0 1em 20px;
}
#page-top {
	background:transparent url(images/logo-001122.png) no-repeat scroll left top;
	height:150px;
	position:relative;
	margin:0;
	padding:0;
}
#page-top h1 {
	color:#AAA;
	background-color:#011F2F;
	border:1px solid #1F2F3F;
	font-size:1.8em;
	position:absolute;
	left:170px;
	bottom:60px;
	margin:0;
	padding:0.5em 1em;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#page{
	background-color:#484858;
	padding:0 0 10px;
	position:relative;
	width:100%;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}
#menu {
	position:relative;
	top:-2.75em;
	margin:0 10px;
	float:left;
}
#main {
	width:100%;
	margin-top:-1em;
	clear:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#page-bottom {
	background-color:#FF6000;
	width:100%;
	padding:0.5em 0;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}
#page-bottom p {
	font-size:11px;
	margin:0 2em;
}
#page-bottom a,
#page-bottom a:visited,
#page-bottom a:hover {
	text-decoration:none;
	color:#000;
}
div.section {
	margin:0 10px 0.75em;
	padding:2em 1em;
	background-color:#FFEEFF;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
}
div.section:last-child {
	margin-bottom:0;
}
div.section pre {
	overflow:auto;
}

div.clearer {
	clear:both;
}

/* Controls
------------------------------------------------------------*/
table.list tr .controls {
	float:none;
}
table#recordings tr .controls {
	float:left;
	margin-right:2px;
}
h2 .controls {
	float:left;
	margin:-2px 0.5em 0 0;
}
h2 .controls .control {
	margin-right:0.25em;
}
.recFolder .controls {
	float:left;
	margin-right:1px;
}
ul.controls li.control {
	list-style-type:none;
	list-style-image:none;
	list-style-position:outside;
}
.controls .control {
	float:left;
}
button {
	cursor:hand;
}
.button-i,
.button-i-t {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.buttonm-i,
.buttonm-i-t {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.buttons-i,
.buttons-i-t {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
tr.buttons td {
	text-align:left;
}
td .button-i-t {
	margin:0.25em;
}
.button-i-t div {
	position:relative;
	padding: 0.3em 1.3em 0.3em 20px;
	white-space:nowrap;
}
.button-i-t .ui-icon {
	position:absolute;
	top:50%;
	left:3px;
	margin-top:-8px;
}
/*
.button-i,
.buttonm-i,
.buttons-i {
	position:relative;
}
*/
.button-i {
	width:20px;
	height:20px;
	padding:2px;
}
.buttonm-i {
	width:18px;
	height:18px;
	padding:1px;
}
.buttons-i {
	width:16px;
	height:16px;
	padding:0;
	margin:0;
}
button::-moz-focus-inner {
	padding:0;
	border:none;
}
tr .controls .control {
	display:block;
	margin:0 0px;
	padding:0px 0;
}
tr .controls .control .ui-icon {
	float:right;
	margin:0 0px;
}
.recFolder .controls .control .ui-icon {
	margin-right:0;
}


/* Table related 
------------------------------------------------------------*/
table.list {
	border-collapse:collapse;
	margin:0 auto;
	width:auto;
	max-width:95%!important;
	min-width:60%;
	empty-cells:show;
}
table.list caption {
	font-weight:bold;
	font-size:1.2em;
	text-align:left;
	padding:0.35em 1em;
	border:none;
	color:#383838;
	background:transparent none;
}
form table.list {
	width:auto;
	min-width:60%;
}
form table.list caption {
	background-color:#909070;
	border-bottom:1px solid #B8B888;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}
table.list th {
	color:white;
	background-color: #909070;
	font-weight:bold;
	padding:1px 0.5em;
}
table.list thead th {
	text-align:center;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}
table.list tbody{
	background-color:#D7D7A7;
}
table.list tbody th,
table.list tbody td{
	border-style:solid none;
	border-width:1px 0px;
}
table.list tbody tr:last-child td{
	border-style:none;
	border-width:0;
}
table.list tbody th {
	border-color:#B8B888;
	text-align:right;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
table.list tbody td {
	border-color:#C0C090;
	color:#000517;
	padding:1px 5px;
	vertical-align:top;
}
table.list tr.controls td{
	min-height:8px;
	background-color:#909070;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}
table.list tr.controls td button {
	margin:0.25em;
}
table.list th a {
	display:block;
	font-weight:bold;
	margin:0;
	min-height:14px;
	padding:1px 14px;
	color:white;
	background-position:left center;
	background-repeat:no-repeat;
	display:block;
}
table.list .sortasc {
	background-image:url(images/upw.png);
}
table.list .sortnone {
	background:none;
}
table.list .sortdesc {
	background-image:url(images/downw.png);
}
table.list th.space,
table.list td.space {
	background-color:transparent;
	border-style:none;
}
table.list td.space {
	background-color:#FFEEFF;
	border-style:none;
}
table.list tbody tr:hover {
	background-color:#C7C797;
}
form table.list tbody tr:hover {
	background-color:transparent;
}
table.list tr.anotherDay,
table.list tr.anotherDay:hover {
	background-color:#C7C797;
}
table.list tr.anotherDay td, 
table.list tr.anotherDay:hover td {
	text-align:center;
	padding-left:2em;
	color:#202020;
	font-weight:bold;
}
table#nowOnTv {
	width:70em;
}
table#nowOnTv col.info {
	width:50%;
}
table#nowOnTv col.space {
}
table#programs col.channel {
	width:auto;
}
table#programs col.timers{
	width:80px;
}
table#programs colgroup.nowNext col.pgName{
	width:25%;
}
table#programs col.pgName{
	width:auto;
}
table.channels {
	float:left;
	width:45%;
	min-width:45%;
	margin:0 0 0 3%;
}
table.channels col.number,
table#recordings col.number {
	width:4em;
}
table.channels td.number,
table#recordings td.number {
	text-align:center;
}
table.channels col.ctrls {
	width:58px;
}
table#cfgFile {
	width:auto;
	min-width:40em;
}
col.date {
	width:6em;
}
col.hour {
	width:5em;
}
col.content {
	width:auto;
}
col.space {
	width:1em;
}

/* Info 
----------------------------------*/
.info {
	color:black;
	text-align:left;
}
.info .title,
.info .fromTo .l{
	font-weight:bold;
	color:#444;
}
.info .fromTo .t{
	color:green;
}
.info div,
.info ul {
	margin:0.4em 0;
}
.info div p,
.info ul li {
	margin:0;
}
div.infobox {
	position:relative;
}
div.infobox .info {
	font-size:0.9em;
	padding:5px;
	border:none;
}
div.infobox div.infoWrapper {
	position:absolute;
	display:none;
	background:url(images/shadow1.png) repeat;
	bottom:10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.infoboxCssHover:hover div.infoWrapper{
	display:block;
}
.infoLeft div.infoWrapper {
	right:10px;
}
.infoRight div.infoWrapper {
	left:20px;
}
div.infobox div.info {
	background-color:white;
	max-height:22em;
	width:30em;
	overflow:auto;
	position:relative;
	right:5px;
	bottom:5px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.info table {
	background-color:transparent;
	border:0 none;
	margin:0;
	padding:0;
	width:100%;
	font-size:0.8em;
}
.info table caption {
	margin:0;
}
.info table.channelInfo {
}
.info table.channelInfo th,
.info table.channelInfo td {
	color:black;
	background-color:#FFE2C4;
	border:1px solid silver;
	margin:0;
	padding:1px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
span.host {
	font-size:0.9em;
	color:#300;
}

/* Page specific
-------------------------------------*/
/* Program */
table.list th.timers,
table.list td.timers {
	padding:0;
}
table.list td.timers {
	vertical-align:top;
	padding-bottom:2px;
}
.timers .timer {
	width:80px;
	height:16px;
	position:relative;
}
.timers .timer .progressbar {
	/*background-color:#F0F0D0;*/
	border:1px solid #B8BFA0;
	width:62px;
	height:13px;
	position:absolute;
	top:2px;
}
.timers .timer .ui-icon-edit {
	position:absolute;
	right:0;
}
.progressbar .pb {
	height:100%;
	position:absolute;
	top:0;
	border:none;
}
.progressbar .pbstart{
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
}
.progressbar .pbend{
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
}
.progressbar .pbenabled{
	background-color:#686860;
}
.progressbar .pbdisabled{
	background-color:#B8BFA0;
}

/* Timers */
table#timers tr.inactive * {
	color:#606060;
}

/* Recordings */
table#recEdit {
	min-width:70%;
}
table#recEdit input,
table#recEdit textarea {
	width:98%;
	margin:0;
}
/* Browse */
#recPathWrapper {
	display:block;
	float:left;
	clear:left;
	margin-left:5px;
	padding:0; 
	background:transparent url(images/shadow1.png) repeat scroll 0pt 0pt; 
	position:relative; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
}
#recPathWrapper > .recPath{
	top:-5px;
	left:-5px;
}
.recPath {
	display:block;
	float:left;
	/*
	overflow:auto;
	*/
	background-color:#CCF;
	border:medium none;
	margin:0;
	padding:2px 0.2em;
	position:relative;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.recPath .recDir {
	display:block;
	float:left;
	/*
	display:inline-block;
	*/
	padding:0;
	margin:1px 0.2em;
}
.recPath .recDir a,
.recPath .recDir a:visited {
	background-color:#EEF;
	color:#556;
	display:block;
	font-weight:bold;
	text-decoration:none;
	padding:1px 10px 2px 7px;
	margin:0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.recPath .recDir a.act,
.recPath .recDir a:hover {
	background-color:#BBC!important;
	color:#445!important;
	text-decoration:none;
}
ul.recPath,
ul.recPath li.recDir,
ul.recFolders,
ul.recFolders li.recFolderWrapper,
ul.recFolderFooter,
ul.recFolderFooter li.field{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
#recFoldersWrapper {
	clear:left;
	margin-left:5px;
	padding-top:1em;
}
.recFolderWrapper {
	display:inline-block;
	vertical-align:top;
	margin:0px 10px 10px 0px;
	padding:0;
	width:300px;
	position:relative;
	background:url(images/shadow1.png) repeat;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.recFolder {
	padding:5px;
	background-color:#DFCFAF;
	border:1px solid #D0C0A0;
	vertical-align:top;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.recFolder {
	position:relative;
	right:5px;
	bottom:5px;
}
li.recFolder {
	margin:2px;
}
li.recRec {
	background-color:transparent;
	border:none;
	clear:left;
	margin:1px;
	overflow:hidden;
}
.recRecDel {
	text-decoration:line-through!important;
}
li.recRecEdt,
div.recRecEdt .recFolderHeader {
	font-style:italic!important;
	margin-right:0.20em!important;
}
.recFolder a, 
.recFolder a:link, 
.recFolder a:visited {
	color:black;
	text-decoration:none;
}
.recFolderHeader {
	background-color:transparent;
	display:block;
	font-size:1.1em;
	font-weight:bold;
}
.recFolderHeader a:hover {
	color:#234;
	font-weight:bold;
}
.recFolder .recFolderDetails,
.recFolder .recFolders {
	overflow:auto;
	background-color:#EFE8C4;
	border:medium none;
	margin:5px 0;
	text-decoration:none;
	/*clear:left;*/
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
div.recFolder > .recFolderDetails,
div.recFolder > .recFolders {
	min-height:5em;
	max-height:15em;
}
.recFolder .recFolderDetailsPending {
	background-image:url(images/ajax-loader.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.recFolderDetails div.recInfo {
	padding:3px;
	margin-bottom:1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.recFolderFooter {
}
.recFolderFooter .field {
	font-size:0.9em;
	display:inline;
}

/* View */
/* WatchIt */
#nowNextBody #tabsSelector {
	display:none;
}
#watchItControl {
	float:left;
	width:250px;
}
#watchItControl #channelNum {
	/*width:100%;*/
}
#watchItInfo h3 {
	display:none;
}
#watchItVlc {
	float:left;
	margin-left:10px;
}
.eventSummary {
	font-size:0.9em;
	margin:3px;
	padding:0.5em;
	color:black;
	background-color:white;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#watchItInfo .eventSummary {
	overflow:auto;
}
.eventSummary h3 {
	margin:1em 0 0.5em 0;
	padding:2px 0 2px 5px;
	font-weight:bold;
	font-size:1.2em;
	border-style:none none solid solid;
	border-width:0 0 1px 8px;
	border-color:#FF9A35;
}
.eventSummary h4 {
	font-weight:bold;
	font-size:1em;
	padding:0 1em;
	margin:0.2em 0;
	background-color:#eee;
 }
 .eventSummary .desc p {
	 font-size:0.9em;
	 margin:0.1em 0;
 }

/* Icons
----------------------------------*/
.ui-icon-edit {
	background-position:0px -240px;
}
.ui-icon-floppy{
	background-position:-16px -240px;
}
.ui-icon-print{
	background-positon:-32px -240px;
}
.ui-icon-rec {
	background-position:-48px -240px;
}
.ui-icon-timer {
	background-position:-64px -240px;
}
.ui-icon-tv {
	background-position:-80px -240px;
}
.ui-icon-radio {
	background-position:-96px -240px;
}
.ui-icon-folder-rec{
	background-position:-112px -240px;
}
.ui-icon-volume-down {
	background-position:-128px -240px;
}
.ui-icon-volume-up {
	background-position:-144px -240px;
}
.ui-icon-ar169 {
	background-position:-160px -240px;
}
.ui-icon-ar43 {
	background-position:-176px -240px;
}
h2 .ui-icon {
	float:left;
	margin:0 1em 1px 0;
}


a.channel,
a.strong { 
	font-weight:bold; 
	color:black;
}
.field {
	vertical-align:baseline;
	margin:0 0.5em 0.5em 0;
}
.field .label {
	color:#333333;
	font-weight:bold;
}
input.readOnly,
textarea.readOnly {
	background-color:transparent;
	border:none;
}
.fromTo .hour {
	font-weight:bold;
	margin:0 0.2em;
}
th.hour,
td.hour {
	text-align:center;
}
