.gainlayout { 
	height: 1%; 
}
fieldset {
	display:inline;
}
fieldset label{
	display:inline;
}
label *{
	vertical-align:middle;
	margin-left:2px;
}
table.list {
	width:auto!important;
	width:95%;
}
table.list tr.controls td{
	height:auto!important;
	height:8px;
}
#main {
	height:1%;
}
.section {
	height:1%;
}
table#recEdit {
	width:auto!important;
	width:80em;
}
/*
#recPathWrapper {
	display:inline;
}
.recPath .recDir {
	display:inline;
}
*/
.recFolderWrapper {
	display:inline;
}
div.recFolder .recFolderDetails,
div.recFolder .recFolders {
	height:auto!important;
	height:10em;
	font-size:1em;
}
.recFolderDetails,
.recFolders {
	overflow:auto;
}
.recFolder .controls {
}
.recFolder .controls button.control {
	width:20px;
	height:20px;
}
.recFolder .controls button.control .ui-icon {
	float:none;
	width:16px;
	height:16px;
}
div.infobox div.info {
	height:auto!important;
	height:22em;
}
/*
 * superfish
 */
.sf-menu a.sf-with-ul {
	min-width:1px;
}
.sf-sub-indicator {
	top:1.05em;
	background-position:-10px -100px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
