#
# User defined Makefile options for the Video Disk Recorder
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#
# See the main source file 'vdr.c' for copyright information and
# how to reach the author.
#
# $Id$

### The C compiler and options:

TARGETPREFIX	= mips-linux-uclibc-

CC		= $(TARGETPREFIX)gcc
CFLAGS		= -g -march=mips2 -mtune=vr4120 -O3 -msoft-float -Wall 

CXX		= $(TARGETPREFIX)g++
CXXFLAGS	= -g -march=mips2 -mtune=vr4120 -O3 -msoft-float -Wall -Woverloaded-virtual 

LD		= $(TARGETPREFIX)ld
#LDFLAGS		= -static
LDFLAGS		= -rdynamic
AR		= $(TARGETPREFIX)ar
RANLIB		= $(TARGETPREFIX)ranlib
STRIP		= $(TARGETPREFIX)strip


REMOTE=LIRC
NO_KBD=1
VFAT=1
DEFINES+= -D_REENTRANT -D_GNU_SOURCE -DUSE_TUNER_AUTOVALUES
# TESTING 
# DEFINES += -DUSE_HW_VIDEO_FRAME_EVENTS # Use Hardware Frame Events
# DEFINES += -DUSE_RECEIVER_RINGBUFFER  # Use Ringerbuffer with Header for Receivers
                                         # this is turn on atomatically if Frame
                                         # Events are used (in this case it is needed). 
                                         # If no events are used only PID is saved in
                                         # header, overhead may slow down things
DEFINES += -DUSE_DIRECT_IO
DEFINES += -DDISABLE_RINGBUFFER_IN_RECEIVER
# DEFINES += -DM7X0_PLAY_TS
# DEFINES += -DCHECK_DIRECT_IO_BUFFERS     # enable alignment check while using direct io
# DEFINES += USE_WATCHDOG_IN_FILEWRITER  # watchdog in filewriter
